@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    min-height: 100vh;
    min-width: 100;
    /*background: linear-gradient(to right, #ff7f50, #1e90ff); */
    overflow-x: hidden; 
}

header {
  background-image: url("https://wallpaperaccess.com/full/2416004.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  background-position: center;
    min-width: 10vh; 
    min-height: 300%;
    color: white;
    padding: 1rem;
    padding: 8rem;
    box-sizing: border-box;
}
header h1 {
  margin: 0;
}

nav{
  background-color:#100c0800;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 1;

}


nav .title img {
  height: 30px;
  margin-right: 1rem;
}

nav a{
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
}
nav a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ccc;
}

footer {
  background-color:#fff;
  color: white;
  padding: 1rem;
  text-align: center;
}
footer p{
  color:#fff;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(135deg, #4203a9,#90ba);
    
}
.calculator{
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;
}

.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent ;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;


}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    background-color: #33ffd8;

}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.equal{
    width: 145px;
    background-color: #ff8c00;
}

form input.operator{
    color: #33ffd8;
}




.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.card{
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.card:hover{
    transform: translate(-10px);
}
.card h2{
    width: 100%;
    margin-bottom: 1rem;

}
.card img{
    width: 100%;
    border-radius: 16px 16px 0 0;
}
.button{
    display: inline;
    padding: 10px 20px ;
    margin: 10px;
    border-radius: 5px;
    background-color: #3a4452;
    color: #000;
   text-decoration: none;
   font-size: 16px;
   cursor: pointer;
}


  footer {
    padding: 1rem;
    text-align: center;
  }

  footer p{
    color: black;
  }

  @keyframes appear{
    from{
        opacity: 0;
        clip-path: inset(100% 100% 0 0);
    }
    to{
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
  }
  .card{
    animation: appear  linear ;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }
  .age-container{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(135deg, #4203a9,#90ba);
    color: #fff;
    padding: 10px;

  }
  .age-cal{
    width: 100%;
    max-width: 600px;
    margin-left: 10%;
    margin-top: 10%;
  }
  .age-cal h1{
    font-size: 60px;
  }
  .age-cal span{
    color: #000;
  }

  .age-input-box{
    margin:40px 0;
    padding:35px ;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
   

  }
  .age-input-box input{
    flex: 1;
    margin-right: 20px;
    padding: 14px 20px ;
    border: 0;
    outline: 0;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
  }

  .age-input-box button{
    background: #ff8c00;
    border: 0;
    outline: 0;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
  }
  .age-input-box input::-webkit-calendar-picker-indicator{
   
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        height: auto;
        cursor: pointer;
        background-position: calc(100% - 10px);
        background-size: 30px;
    
  }
  #result span{
    color: #ff8c00;
  }

  /*percentage */

  .percentage-container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#ff8c00,#33ffd8);
    color: #fff;
    padding: 10px;
    display :flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
    

  }
  .percentage-cal{
    width: 100%;
    max-width: 600px;
    margin-left: 10%;
    margin-top: 10%;
   
  }
  .percentage-cal h1{
    font-size: 60px;
  }
  .percentage-cal span{
    color: #000;
  }

  .per-input-box{
    width: 480px;
    margin: 12px 0;
    padding: 24px;
    text-align: center;
    box-shadow: 2px 2px 8px 2px ;
    
  
  }
  .per-input-box input[type=number]{
    width: 84px;
    font-size: 18px;
    padding: 8px;
    margin: 0px 8px 8px 8px;
    border-radius: 5px;
    border: none;
  }
  .per-input-box button{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    margin: 12px 0;
    padding: 8px;
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: 5px;
    border: none;
  }
  .per-input-box input[type="text"]{
    font-size: 22px;
    padding: 8px 0;
    font-weight: 900;
    text-align: center;
    background-color: #f7f7f7;
    border: none;
    border-radius: 5px;
  }
 
  .emi-container{
    width: 100%;
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg,);

  }
  .emi-input h2{
    color: #fff;
    display: flex;
    align-items: flex-end;
    justify-content:flex-start
  }
  .emi-input span{
    color: #000;
  }

  .emi-input label{
    
    color: #fff;
    font-weight: 900;
    font-size: 20PX;

  }
 
  .emi-input input{
    padding: .5rem;
    outline: none;
    border: none;
    border-radius: 5px;

  }

  .emi-input button{
    background: #ff8c00;
    border: 0;
    outline: 0;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;

  }
  .emi-input{
    width: 60vw;
    height: 80vh;
    font-size: 1rem;
    border-radius: 1rem;
    box-shadow: floralwhite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

    background:linear-gradient(135deg,#90ba,#f7f7f7);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
.emi-input result{
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
  font-weight: 800;
}

.fib-container{
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  background: linear-gradient(135deg,#90ba,#000);
  display: flex;
  justify-content: center;
}
.fib-cal{
  width: 100%;
    max-width: 700px;
    margin-left: 10%;
    margin-top: 10%;
}
.fib-cal h1{
  color: #f7f7f7;
  font-size: 40px;
}
.fib-input-box{
  margin:40px 0 ;
  padding:35px ;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.fib-input-box h2{
  font-size: 20px;
  font-weight: 500;
}

.fib-input-box input{
  flex: 1;
  margin-right: 20px;
  padding: 14px 30px ;
  border: 0;
  outline: 0;
  font-size: 18px;
  border-radius: 5px;
  position: relative;
}
.fib-input-box button{
  border: 0;
  outline: 0;
  margin-right: 20px;
  padding: 14px 30px ;
  font-weight: 700;
  font-size: 20px;


}
.fib-container #result{
  color: #fff;
}


.prime-container{
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  background: linear-gradient(135deg,#90ba,#000);
  display: flex;
  justify-content: center;

}
.prime-cal{
  width: 100%;
  max-width: 700px;
  margin-left: 10%;
  margin-top: 10%;

}

.prime-cal h2{
  font-size: 40px;

}



.prime-input-box{
  margin:40px 0;
  padding:30px ;
  padding-right: 60px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.prime-input-box label{
  color: #000;
  margin: 9px;
    font-weight: 500;
    font-size: 30PX;

}
.prime-input-box input{
  padding: .5rem;
    outline: none;
    border: none;
    border-radius: 5px;

}
.prime-input-box button{
  border: 0;
  outline: 0;
  margin: 10px;
  padding: 15px 20px;
  font-weight: 700;
  font-size: 20px;
  border-radius: 10px;
  
}
.prime-container #result_2{
  color: #ff8c00;
}



